<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TO DO APP</h1>
    <ul>
        <% tasks.forEach((task,index) => { %>
            <li>
                <%= task %>
                <form action="/deletetask" method="post">
                    <input type="hidden" name="index" value="<%= index%>">
                    <button type="submit">Delete</button>
                </form>
            </li>
       <% }) %>
    </ul>
    <a href="/addtask">Add task</a>
</body>
</html>